<DOCTYPE HTML>
<html>
    <link type="text/css" rel="stylesheet" href="/terminal.css">
    <!--link type="text/css" rel="stylesheet" href="/friendly.css"-->
    <title>edunham.net</title>
</head>

<body>
    {% block body %}
    {% endblock body %}

    <div style="position:absolute; bottom: 0em; margin-left: 10%">
    <p style="width: 100%; margin-left:0px; color: #333333;">
    site mostly by {{site.author}}, with help from the internet | 
    Last generated: {{site.date}} | 
    the style is ugly to keep you from looking at it for very long
    </p>
</div>
</body>

</html>
